@inherits LayoutComponentBase

<PageTitle>ExamenIIIParcialUsuarios</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>

                <span class="ml-md-auto">
                    Usuario Conectado: @context.User.Claims.First().Value
                    <a href="/account/logout">Salir</a>
                </span>

            </Authorized>

            <NotAuthorized>
                <a href="login" class="ml-md-auto">Iniciar Sesión</a>
            </NotAuthorized>
        </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
