@page "/login"
@page "/login/{ErrorMessage}"
@inject NavigationManager navigationManager
@attribute [AllowAnonymous]

<h3>Login</h3>

@if (ErrorMessage != null)
{
    <div class="text-danger">@ErrorMessage</div>
}

<form method="post" action="/account/login">
    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" name="Codigo" class="form-control col-sm-6 col-md-4" />
    </div>

    <div class="form-group">
        <label>Clave:</label>
        <input type="password" name="Clave" class="form-control col-sm-6 col-md-4" />
    </div>
    <br />
    <button class="btn btn-primary">Entrar</button>

</form>


@code {
    [Parameter] public string ErrorMessage { get; set; }
}